.dl-condition {
	border: 1px solid #EAEAEA;
	-webkit-user-select:none;
   	-moz-user-select:none;
   	-ms-user-select:none;
   	user-select:none;
}
.dl-condition_tab  {
	border-bottom: 1px solid #EEEEEE;
}
.dl-condition_tab .dl-condition_tab_left {
	height: 40px;
	line-height: 40px;
	width: 120px;
	min-width: 120px;
}
.dl-condition_tab .dl-condition_tab_left .adMarket_label {
	width: 70px;text-align: justify;text-align-last: justify;margin-left: 18px;min-width: 70px;
}
.dl-condition_tab .dl-condition_tab_center {
	overflow-y: hidden;
    height: 40px;
    flex-wrap:wrap;
}

.dl-condition_tab_center_div {
	margin-right: 10px;
    line-height: 40px;
    min-width: 89px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    height: 40px;
    white-space: nowrap;
}
.dl-condition_tab_center_div:hover {
	background-color: #fff;
}

.dl-condition_tab_center_div .dl-condition_tab_center_hover {
	width: 1080px;
    position: absolute;
    min-width: 1080px;
	max-width: 1080px;
	background-color: #fff;
	line-height: 40px;
    left: 0;
    background-color: #fff;
    flex-wrap: wrap;    
     z-index: 1;
    -webkit-box-shadow: 0px 1px 29px 0px rgba(151,151,151,0.19);
	-moz-box-shadow: 0px 1px 29px 0px rgba(151,151,151,0.19);
	box-shadow: 0px 1px 29px 0px rgba(151,151,151,0.19);
}
.dl-condition_tab_center_div .dl-condition_tab_center_hover div{
	min-width: 100px;max-width: 160px;
}
.dl-condition_tab_center_div .dl-condition_tab_center_hover div:hover{
	min-width: 100px;max-width: 160px;
	background-color: #E0E0E0;
}
.dl-condition_tab .dl-condition_tab_right {
	text-align: center;
	line-height: 40px;
	min-width: 80px;
}
.dl-condition_checked {
	background-color: #EAEAEA;
	line-height: 60px;
}
.dl-condition_checked .dl-condition_tab_left {
	height: 60px;
	line-height: 60px;
	width: 120px;
	min-width: 120px;
}
.dl-condition_checked .dl-condition_tab_left .adMarket_label{
	width: 70px;text-align: justify;text-align-last: justify;margin-left: 18px;min-width: 70px;color: #666666;
}
.dl-condition_checked {
	background-color: #EAEAEA;
	line-height: 60px;
}
.dl-condition_checked .dl-condition_tab_center{
	flex-wrap:wrap;
}
.dl-condition_checked .dl-condition_tab_center div{
	margin-right: 15px;
}
.dl-condition_checked .dl-condition_tab_center div span{
	border: 1px solid #FF6A02;
	padding: 3px 10px;color: #FF6A02;
}
.dl-condition_checked .dl-condition_tab_center div i{
	color: #fff;
    background-color: #FF6A02;
    padding: 3px 4px 4px 3px;
    font-size: 20px;
    cursor: pointer;
}
.dl-condition_checked .dl-condition_tab_right {
	text-align: center;
	line-height: 60px;
	min-width: 80px;
	color: #333333;
}
.dl-condition-selected {
	color: #FF6A02;
}
.dl-condition-noSelected {
	color: #333333;
}
.dl-condition-isShow {
	overflow-y: unset!important;
    height: auto!important;
}